@import "tailwindcss";
@theme {
  /* Custom Colors */
  --color-sidebar-dark: #1e1e2d;
  --color-sidebar-light: #2b2b40;
  --color-main-bg: #f5f6fa;
  --color-table-header: #f8f9fa;
  --color-text-primary: #3f4254;
  --color-text-secondary: #b5b5c3;
  --color-accent-blue: #3699ff;

  /* Custom Font */
}

/* Base styles */
@layer base {
  body {
    background-color: var(--color-main-bg);
    color: var(--color-text-primary);
    font-family: var(--font-sans);
  }
}